<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🥚📉</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/d1f89f90e5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation/dist/chartjs-plugin-annotation.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">🥚📉</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <!-- Hiding About section for now.

                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

                -->

                <li class="nav-item">
                    <a class="nav-link" href="mailto:admin@eggs.cheap">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://bsky.app/profile/eggs.cheap"><i class="fa-brands fa-bluesky"></i> Bluesky</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Hero Section -->
    <div class="jumbotron text-center">
        <h1 class="display-4">Did Donald Trump Make Eggs Cheaper?</h1>
        <p class="lead">Egg prices were a big deal in the 2024 election. Let's keep track of the president's promise to
            make them cheaper!</p>
    </div>

    <!-- Graph Section -->
    <main class="container">
        <div class="row justify-content-center">
            <div class="text-center">
                <canvas id="lineChart", width="900" height="500">
                    <script>
                        const ctx = document.getElementById('lineChart')

                        new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: {{ labels | safe }},
                                datasets: [
                                    {
                                        label: "Price (USD)",
                                        data: {{ values | safe }},
                                        fill: false,
                                        borderColor: "rgb(192,20,20)",
                                        lineTension: 0.1
                                    }
                                ]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                        title: {
                                            display: true,
                                            text: '$USD/Dozen'
                                        }
                                    }
                                },
                                plugins: {
                                    title: {
                                        display: true,
                                        text: 'No.',
                                        font: {
                                            weight: 'bold',
                                            size: 30
                                        }
                                    },
                                    legend: {
                                        display: true,
                                        position: "bottom"
                                    },
                                    annotation: {
                                        annotations: {
                                            line1: {
                                               type: 'line', 
                                               yMin: 6.12,
                                               yMax: 6.12,
                                               borderColor: 'rgb(20,40,192)',
                                               borderWidth: 2,
                                               borderDash: [15, 5]
                                            }
                                        }
                                    }
                                },
                                responsive: false
                            }
                        });
                    </script>
                </canvas>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer bg-dark text-white text-center py-3">
        <div class="container">
            <p>&copy; 2025 Carson Lau. All rights reserved.</p>
        </div>
    </footer>

    <!-- Additional Scripts-->

    <script>
        const jsConfetti = new JSConfetti()

        jsConfetti.addConfetti({
            emojis: ['🥚', '💵', '🍳', '🗽', '🔴', '⚪', '🔵', '🦅']
        })
    </script>

    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
        kofiWidgetOverlay.draw('clau72', {
            'type': 'floating-chat',
            'floating-chat.donateButton.text': 'Buy Me Eggs',
            'floating-chat.donateButton.background-color': '#00bfa5',
            'floating-chat.donateButton.text-color': '#fff'
        });
    </script>
</body>

</html>